@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Todos los datos expuestos en esta web, tienen la debida seguridad y proteccion para cada uno.</p>
<a href="https://www.uce.edu.ec/">Ir a la UCE</a>
